* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: var(--sapFontFamily, '72', sans-serif); }
ui5-shellbar { padding-inline: 1rem !important; }
ui5-side-navigation { box-shadow: .25rem 0 .5rem -.125rem rgba(34,53,72,.25); }
ui5-input > ui5-icon[slot="icon"] { align-self: center; }
ui5-tabcontainer { --_ui5_tc_header_border_bottom: none; --_ui5_tc_content_background: transparent; --_ui5_tc_content_border_bottom: none; max-height: var(--_ui5_tc_header_height); overflow: hidden; }
nextjs-portal, [data-nextjs-dialog-overlay], nextjs-toast { display: none !important; }
